<div class="container">
  <div class="row">
    <!-- columns and rows are going to repeat for as many matches as the person has -->
    <div class="col-4">
      <div class="card">
        <!-- <img> Here is going to be an image pulled from the picsum website and used in the middle -->
        <div class="card-body">
          <p class="card-text">
            HERE IS GOING TO BE A MATCH THAT'S PULLED FROM THE DATABASE
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <!-- <img> Here is going to be an image pulled from the picsum website and used in the middle -->
        <div class="card-body">
          <p class="card-text">
            HERE IS GOING TO BE A MATCH THAT'S PULLED FROM THE DATABASE
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <!-- <img> Here is going to be an image pulled from the picsum website and used in the middle -->
        <div class="card-body">
          <p class="card-text">
            HERE IS GOING TO BE A MATCH THAT'S PULLED FROM THE DATABASE
          </p>
        </div>
      </div>
    </div>

    
  </div>
</div>