<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>New members in your area!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <!-- columns and rows are going to repeat for as many matches as the person has -->
    <div class="col-4 mt-3" *ngFor="let match of newMatches; let i = index">
      <div class="card">
        <img class="card-img-top" src="{{match.photo.url}}" alt="Member Photo">
        <div class="card-body">
          <p class="card-text">
            {{match.firstName}} <br>
            {{match.location}}
          </p>
        </div>
        <div class="card-footer">
          Insert like or pass buttons here
        </div>
      </div>
    </div>
    
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <h1>Current matches</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mt-3" *ngFor="let existing of existingMatchDetail; let i = index">
      <div class="card">
        <img class="card-img-top" src="{{existing.photo.url}}" alt="Member Photo">
        
        <div class="card-body">
          <div class="card-text">
            <p>{{existing.firstName}}</p>
            <p><em>Location:</em> {{existing.location}}</p>
          </div>
        </div>
        <div class="card-footer">
          have selected like here - give option to unlike
        </div>
      </div>
    </div>

  </div>
</div>