.buttons{
    background-color: rgb(250,232,244);
    color: rgb(102,102,102);
}
.cancelButton{
    background-color: rgb(255,225,187);
    color: rgb(102,102,102);
}
.homebody{
    background-image: url("https://picsum.photos/id/550/1125");
    background-color: whitesmoke;
    height: 800px;
    border-radius: 15%;
}