.homebody{
    background-image: url("https://picsum.photos/id/1083/1200");
    background-repeat: no-repeat;
    height: 750px; 
    background-position: center;
    // 129 another id image to use
    // https://picsum.photos/images#9 check back here for the personal pics
}